{% extends admin_layout %}

{% block content -%}
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_homepage') }}">
                        Administration
                    </a>
                </li>
                <li class="active"><a href="{{ path('admin_user') }}">
                        Utilisateurs
                    </a>
                </li>
                <li class="active">
                    Modifier utilisateur
                </li>
            </ol>

            {{ form(edit_form) }}
            <hr/>
            <p>
                <a href="{{ path('admin_user') }}" class="btn btn-default">
                    Retour a la liste
                </a>
            </p>


            {{ form(delete_form) }}
        </div>
    </div>


{% endblock %}
