{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}"/>

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password"/>

    <button type="submit">{{ 'security.login.submit'|trans }}</button>
</form>