{% extends 'RudakUserBundle:Email:basic.html.twig' %}

{% block emailContent %}
    <h2>Changement d'adresse e-mail</h2>
    <p class="">
        Vous recevez ce mail suite à une demande de validation de votre adresse mail sur {{ website }}.
        Votre adresse email était jusqu'ici '{{ user.email }}' et vous la remplacez par '{{ user.emailTmp }}'.
    </p>
    <p class="callout">
        En suivant ce lien, vous validerez votre nouvelle adresse mail :
        <br/>
        <a href="{{ link }}">
            - Lien de validation de l'adresse email -
        </a>
    </p>
    <p>
        Attention vous avez jusqu'a {{ user.securityHashExpireAt|date('H:i') }} pour valider ce changement.
    </p>
    <br/>
{% endblock %}