{% if not app.user %}
    {% render(controller('RudakUserBundle:Form:getFormLogin')) %}
    <div class="userArealinks">
        <p>
            <a href="{{ path('rudakUser_lost_pwd') }}" title="{{ 'btn_txt.lost.password'|trans }}">
                {{ 'btn_txt.lost.password'|trans }}
            </a>
        </p>
        <p>
            <a href="{{ path('record_new') }}" title="{{ 'btn_txt.create.account'|trans }}">
                {{ 'btn_txt.create.account'|trans }}
            </a>
        </p>
    </div>

{% else %}
    <div class="userArealinks">
        <p>
            {{ 'btn_txt.logged_in_as'|trans({'%name%': app.user.username}) }}
        </p>

        <p>
            <a href="{{ path('rudakUser_profile') }}" title="{{ 'btn_txt.profile'|trans }}">
                {{ 'btn_txt.profile'|trans }}
            </a>
        </p>

        <p>
            <a href="{{ path('logout') }}" title="{{ 'btn_txt.logout'|trans }}">
                {{ 'btn_txt.logout'|trans }}
            </a>
        </p>
    </div>
{% endif %}